infra/terraform/aws_lambda/secret.tfvars
infra/terraform/aws_rds/secret.tfvars

infra/terraform/aws_lambda/__pycache__/
infra/terraform/aws_rds/__pycache__/

infra/terraform/aws_lambda/.terraform/
infra/terraform/aws_rds/.terraform/

infra/terraform/aws_lambda/.terraform.lock.hcl
infra/terraform/aws_rds/.terraform.lock.hcl

infra/terraform/aws_lambda/*.tfstate
infra/terraform/aws_rds/*.tfstate

infra/terraform/aws_lambda/*.tfstate.backup
infra/terraform/aws_rds/*.tfstate.backup

.env